
.view-more-btn-outer {
  width: 300px;
  margin: 0 auto;
  .view-more-btn {
    display: block;
    text-align: center;
    border: 2px solid #333;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 20px 0;
    transition: 0.4s;
    &:hover {
      background-color: #333;
      border-color: #333;
      color: #fff;
    }
  }
}

@media screen and (max-width: 768px) {
  .view-more-btn-outer {
    width: 180px;
  }
}
